<a href="https://colab.research.google.com/github/PauloStipanich/ironhack/blob/https%2Fgithub.com%2Fpedroteche-ih%2F79_PT_JUN2022.git/Recomenda%C3%A7%C3%A3o%20de%20Sub%20Solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import sklearn.linear_model as lm
from sklearn.decomposition import PCA

In [24]:
#Importndo conte√∫do

Adoption_Monitor = pd.read_csv('https://docs.google.com/spreadsheets/d/1QQvUO3HmgRGSmuM-tzH1gCRXiKJcFYg0N92nb_fTjMs/export?format=csv',
                         encoding = 'latin-1')

In [25]:
Adoption_Monitor.head()

,Business Partner ID,CRM Account Name,SBB Country,SBB Market Unit,SBB Region Level 5,SAP MasterCode,Solution Area,Sub Solution Area,Logical Product,Adoption Product,BP Top Product Version,Adoption Status,Deal Date,Since Date,CLOUD,Maintenance Status,Unnamed: 16
0,34928,Atos Brasil Ltda,Brazil,CS Brazil,FL-BR MM FIELD-Unassigned,Professional Services,Business Technology Platform,AppDev/Automation and Integration,Enterprise Portal,SAP ENTERPRISE PORTAL,SAP ENTERPRISE PORTAL,Live,20130510,20130510.0,NaN,not applicable,1
1,34928,Atos Brasil Ltda,Brazil,CS Brazil,FL-BR MM FIELD-Unassigned,Professional Services,Business Technology Platform,AppDev/Automation and Integration,NetWeaver Application Server,SAP NetWeaver,SAP NETWEAVER 7.4,Unused/Shelfware,20051223,20051223.0,NaN,no Maintenance information found,1
2,34928,Atos Brasil Ltda,Brazil,CS Brazil,FL-BR MM FIELD-Unassigned,Professional Services,Business Technology Platform,AppDev/Automation and Integration,Solution Manager,SAP SOLUTION MANAGER,SAP SOLUTION MANAGER 7.2,Live,20051216,20051216.0,NaN,Demo Licenses,1
3,34928,Atos Brasil Ltda,Brazil,CS Brazil,FL-BR MM FIELD-Unassigned,Professional Services,Business Technology Platform,Database and Data Management,HANA DB,HANA DB,SAP HANA PLATFORM EDITION 2.0,Live,20161130,20161130.0,NaN,no Maintenance information found,1
4,34928,Atos Brasil Ltda,Brazil,CS Brazil,FL-BR MM FIELD-Unassigned,Professional Services,Customer Experience,Sales and Service,SAP CRM (cross&other),SAP CRM,SAP CRM 3.0,Unused/Shelfware,20001218,20001218.0,NaN,Demo Licenses,1

In [26]:
Adoption_Monitor['Sub Solution Area'].unique()

array(['AppDev/Automation and Integration',
       'Database and Data Management', 'Sales and Service',
       'SuccessFactors Cross', 'Finance, Q2C and Enterprise Mgmt',
       'Industry-specific Applications', 'Planning and Analytics',
       'Core HR and Payroll', 'Training and Adoption',
       'Digital Supply Chain', 'Marketing', 'Learning and Talent',
       'Qualtrics EX', 'External Workforce', 'Business Network',
       'Procurement', 'Others', 'Enterprise Cloud Services (IaaS)',
       'ERP for SME', 'SAP Signavio', 'Commerce',
       'Customer Data Solutions', 'Experience Management',
       'IBSO Projects', 'Sales Performance Management',
       'Travel and Expense'], dtype=object)

In [33]:
Adoption_Monitor.groupby(['CRM Account Name','Sub Solution Area'])['Solution Area'].count().reset_index()

,CRM Account Name,Sub Solution Area,Solution Area
0,01 DB Brasil Com√É¬©rcio de,ERP for SME,1
1,021 Inova√É¬ß√É¬£o,AppDev/Automation and Integration,1
2,021 Inova√É¬ß√É¬£o,Database and Data Management,1
3,021 Inova√É¬ß√É¬£o,"Finance, Q2C and Enterprise Mgmt",1
4,1 Telecom Servi√É¬ßos de Tecnologia em Int,Database and Data Management,1
...,...,...,...
15879,√É¬Ågua de Cheiro Distribuidora,"Finance, Q2C and Enterprise Mgmt",3
15880,√É¬Ågua de Cheiro Distribuidora,Planning and Analytics,1
15881,√É¬Ågua de Cheiro Distribuidora,Sales and Service,2
15882,√É¬Ågua de Cheiro Distribuidora,Training and Adoption,1
15883,√É¬Åguas Quentes de Piratininga,ERP for SME,1

In [7]:
tb_products = Adoption_Monitor.pivot_table(values = 'Unnamed: 16', index = 'CRM Account Name', columns = 'Sub Solution Area', aggfunc = 'sum', fill_value = 0).reset_index()
tb_products.head()

Sub Solution Area,CRM Account Name,AppDev/Automation and Integration,Business Network,Commerce,Core HR and Payroll,Customer Data Solutions,Database and Data Management,Digital Supply Chain,ERP for SME,Enterprise Cloud Services (IaaS),...,Others,Planning and Analytics,Procurement,Qualtrics EX,SAP Signavio,Sales Performance Management,Sales and Service,SuccessFactors Cross,Training and Adoption,Travel and Expense
0,01 DB Brasil Com√É¬©rcio de,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,021 Inova√É¬ß√É¬£o,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1 Telecom Servi√É¬ßos de Tecnologia em Int,0,0,0,0,0,1,0,2,0,...,0,0,0,0,0,0,0,0,0,0
3,180 Corretora de Seguros Ltda,0,0,0,0,0,1,0,2,0,...,0,0,0,0,0,0,0,0,0,0
4,2 Tabelionato de Prot Reg Pes Jur Tit,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
tb_products.columns

Index(['CRM Account Name', 'AppDev/Automation and Integration',
       'Business Network', 'Commerce', 'Core HR and Payroll',
       'Customer Data Solutions', 'Database and Data Management',
       'Digital Supply Chain', 'ERP for SME',
       'Enterprise Cloud Services (IaaS)', 'Experience Management',
       'External Workforce', 'Finance, Q2C and Enterprise Mgmt',
       'IBSO Projects', 'Industry-specific Applications',
       'Learning and Talent', 'Marketing', 'Others', 'Planning and Analytics',
       'Procurement', 'Qualtrics EX', 'SAP Signavio',
       'Sales Performance Management', 'Sales and Service',
       'SuccessFactors Cross', 'Training and Adoption', 'Travel and Expense'],
      dtype='object', name='Sub Solution Area')

In [10]:
pca_fit = PCA(5)
tb_products_pca = pca_fit.fit_transform(tb_products_1.drop('CRM Account Name', axis = 1))

In [11]:
tb_products_pca

array([[-2.36517563, -0.00827023, -0.14783871,  0.16661193,  0.1793588 ],
       [-0.73799237, -0.28663606, -0.1928466 ,  0.52084002, -0.49671619],
       [-2.15803702,  0.89489039,  0.45281286, -0.67540282, -0.0433421 ],
       ...,
       [-1.70445416, -0.89226477,  0.14106557,  0.85381221,  0.02726285],
       [ 1.52148057, -0.4443388 , -0.76700886,  0.3678411 , -0.7408742 ],
       [-2.36517563, -0.00827023, -0.14783871,  0.16661193,  0.1793588 ]])

In [12]:
tb_products_recom = pd.DataFrame(pca_fit.inverse_transform(tb_products_pca), columns = tb_products_1.columns[1:])
tb_products_recom['CRM Account Name'] = tb_products_1['CRM Account Name']
tb_products_recom.head()

Sub Solution Area,AppDev/Automation and Integration,Business Network,Commerce,Core HR and Payroll,Customer Data Solutions,Database and Data Management,Digital Supply Chain,ERP for SME,Enterprise Cloud Services (IaaS),Experience Management,...,Planning and Analytics,Procurement,Qualtrics EX,SAP Signavio,Sales Performance Management,Sales and Service,SuccessFactors Cross,Training and Adoption,Travel and Expense,CRM Account Name
0,0.005128,-0.006107,-0.008010,0.010966,-0.001659,-0.021192,0.004870,1.022389,-0.028945,0.008839,...,0.040059,-0.023151,0.000062,-0.004713,-0.002087,-0.008227,-0.009811,-0.013529,0.002111,01 DB Brasil Com√É¬©rcio de
1,0.960448,0.008802,0.004937,0.116083,0.001296,0.588835,-0.062354,0.323269,-0.014938,0.012937,...,0.676584,0.033460,0.000244,-0.002367,-0.000479,0.037404,0.025172,0.056951,0.002466,021 Inova√É¬ß√É¬£o
2,0.004968,-0.021021,0.007390,-0.016628,-0.000464,0.924182,0.002388,2.054988,-0.012225,0.001506,...,0.113912,0.011277,-0.000116,-0.006264,0.000297,0.016538,0.004320,0.015188,0.000698,1 Telecom Servi√É¬ßos de Tecnologia em Int
3,0.004968,-0.021021,0.007390,-0.016628,-0.000464,0.924182,0.002388,2.054988,-0.012225,0.001506,...,0.113912,0.011277,-0.000116,-0.006264,0.000297,0.016538,0.004320,0.015188,0.000698,180 Corretora de Seguros Ltda
4,0.008483,-0.113315,-0.004411,0.057777,-0.002728,0.565076,-0.028339,0.348897,-0.143353,0.011086,...,0.693007,0.001277,-0.000860,-0.032161,-0.002480,0.024746,0.004762,0.012862,0.002668,2 Tabelionato de Prot Reg Pes Jur Tit

In [23]:
tb_products_accounts_recom = tb_products_recom.melt(id_vars = 'CRM Account Name').rename({'value' : 'recom_score_product'}, axis = 1)
tb_products_accounts_recom

,CRM Account Name,Sub Solution Area,recom_score_product
0,01 DB Brasil Com√É¬©rcio de,AppDev/Automation and Integration,0.005128
1,021 Inova√É¬ß√É¬£o,AppDev/Automation and Integration,0.960448
2,1 Telecom Servi√É¬ßos de Tecnologia em Int,AppDev/Automation and Integration,0.004968
3,180 Corretora de Seguros Ltda,AppDev/Automation and Integration,0.004968
4,2 Tabelionato de Prot Reg Pes Jur Tit,AppDev/Automation and Integration,0.008483
...,...,...,...
157529,xAgrofel Agro Comercial Ltda,Travel and Expense,0.003301
157530,√É¬ÅGUAS PRATA LTDA,Travel and Expense,0.002316
157531,√É¬Ågila Tecnologia da Informa√É¬ß√É¬£o Ltda,Travel and Expense,0.002919
157532,√É¬Ågua de Cheiro Distribuidora,Travel and Expense,0.002426
157533,√É¬Åguas Quentes de Piratininga,Travel and Expense,0.002111

In [14]:
tb_accounts = tb_products.pivot_table(values = 'Unnamed: 16', index = 'Sub Solution Area', columns = 'CRM Account Name', aggfunc = 'sum', fill_value = 0).reset_index()
tb_accounts.head()

CRM Account Name,Sub Solution Area,01 DB Brasil Com√É¬©rcio de,021 Inova√É¬ß√É¬£o,1 Telecom Servi√É¬ßos de Tecnologia em Int,180 Corretora de Seguros Ltda,2 Tabelionato de Prot Reg Pes Jur Tit,2S Inovacoes Tecnologicas Ltda.,2W ENERGIA,2i Produtos Odontol√É¬≥gicos e M√É¬©dico Hospi,3A Mining S.A.,...,mr pay,poliway,qametrik,sementes estrela,thyssenkrupp Elevadores S/A,xAgrofel Agro Comercial Ltda,√É¬ÅGUAS PRATA LTDA,√É¬Ågila Tecnologia da Informa√É¬ß√É¬£o Ltda,√É¬Ågua de Cheiro Distribuidora,√É¬Åguas Quentes de Piratininga
0,AppDev/Automation and Integration,0,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,2,0
1,Business Network,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Commerce,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,Core HR and Payroll,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Customer Data Solutions,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
tb_accounts.drop('Sub Solution Area', axis = 1).shape

(26, 6059)

In [16]:
pca_fit = PCA(20)
tb_accounts_pca = pca_fit.fit_transform(tb_accounts.drop('Sub Solution Area', axis = 1))

tb_accounts_recom = pd.DataFrame(pca_fit.inverse_transform(tb_accounts_pca), columns = tb_accounts.columns[1:])
tb_accounts_recom['Sub Solution Area'] = tb_accounts['Sub Solution Area']
tb_accounts_recom.head()

CRM Account Name,01 DB Brasil Com√É¬©rcio de,021 Inova√É¬ß√É¬£o,1 Telecom Servi√É¬ßos de Tecnologia em Int,180 Corretora de Seguros Ltda,2 Tabelionato de Prot Reg Pes Jur Tit,2S Inovacoes Tecnologicas Ltda.,2W ENERGIA,2i Produtos Odontol√É¬≥gicos e M√É¬©dico Hospi,3A Mining S.A.,3Corp Technology Distribuidora,...,poliway,qametrik,sementes estrela,thyssenkrupp Elevadores S/A,xAgrofel Agro Comercial Ltda,√É¬ÅGUAS PRATA LTDA,√É¬Ågila Tecnologia da Informa√É¬ß√É¬£o Ltda,√É¬Ågua de Cheiro Distribuidora,√É¬Åguas Quentes de Piratininga,Sub Solution Area
0,2.156643e-07,0.999997,0.000007,0.000007,0.000006,4.313283e-07,0.000007,0.000007,0.000007,2.156641e-07,...,4.313283e-07,0.999991,4.313283e-07,-0.000029,-5.295628e-06,-0.000005,0.999983,1.999814,2.156641e-07,AppDev/Automation and Integration
1,9.136982e-05,-0.000827,0.000110,0.000110,-0.000073,1.827396e-04,0.000201,0.000201,0.000201,9.136982e-05,...,1.827396e-04,-0.000753,1.827396e-04,0.001814,1.646653e-04,0.000256,-0.000172,0.007910,9.136982e-05,Business Network
2,-3.331451e-05,0.000362,0.000048,0.000048,0.000114,-6.662901e-05,0.000014,0.000014,0.000014,-3.331451e-05,...,-6.662901e-05,0.000248,-6.662901e-05,-0.001135,-1.463077e-04,-0.000180,-0.000158,0.991531,-3.331451e-05,Commerce
3,1.443343e-06,-0.000014,0.000004,0.000004,0.000001,2.886685e-06,0.000006,0.000006,0.000006,1.443343e-06,...,2.886685e-06,-0.000015,2.886685e-06,0.000021,5.859987e-07,0.000002,-0.000008,0.000100,1.443343e-06,Core HR and Payroll
4,3.826962e-04,-0.001820,-0.001204,-0.001204,-0.001969,7.653924e-04,-0.000821,-0.000821,-0.000821,3.826962e-04,...,7.653924e-04,0.000150,7.653924e-04,0.017108,1.874812e-03,0.002258,0.002218,0.018252,3.826962e-04,Customer Data Solutions

In [22]:
tb_account_products_recom = tb_accounts_recom.melt(id_vars = 'Sub Solution Area').rename({'value' : 'score_recom_account'}, axis = 1)
tb_account_products_recom

,Sub Solution Area,CRM Account Name,score_recom_account
0,AppDev/Automation and Integration,01 DB Brasil Com√É¬©rcio de,2.156643e-07
1,Business Network,01 DB Brasil Com√É¬©rcio de,9.136982e-05
2,Commerce,01 DB Brasil Com√É¬©rcio de,-3.331451e-05
3,Core HR and Payroll,01 DB Brasil Com√É¬©rcio de,1.443343e-06
4,Customer Data Solutions,01 DB Brasil Com√É¬©rcio de,3.826962e-04
...,...,...,...
157529,Sales Performance Management,√É¬Åguas Quentes de Piratininga,-7.194751e-05
157530,Sales and Service,√É¬Åguas Quentes de Piratininga,5.189990e-06
157531,SuccessFactors Cross,√É¬Åguas Quentes de Piratininga,-1.507460e-05
157532,Training and Adoption,√É¬Åguas Quentes de Piratininga,-2.816035e-06
157533,Travel and Expense,√É¬Åguas Quentes de Piratininga,1.392400e-04

In [31]:
tb_accounts_products_recom.to_csv("saidamodelo.csv")